.el-breadcrumb {
  background-color: #d3dce6;
  height: 45px;
  font-size: 15px;
  padding-left: 10px;
  line-height: 45px;
}

.level1-row {
  margin-bottom: 10px;
}
.level2-row {
  margin-bottom: 5px;
}
.level3-row {
  margin-right: 5px;
}
